<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo Práctico 3</title>
</head>
<body>
    <header>
        <h1>Programacion Visual</h1>
        <nav>
            <ul>
                <li><a href="#seccion1">Fi Unju</a></li>
                <li><a href="#seccion2">Sobre Nosotros</a></li>
                <li><a href="#seccion3">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
		<section id="inicio">
			<h2>Docentes a Cargo</h2>
			<p>Materia de 2do año de la carrera Analista Programador Universitario</p>
			<ol>
				<li>Vega Ariel</li>
				<li>Apaza Carolina</li>
				<li>Sosa Gustavo</li>
				<li>Rodriguez Juan Carlos</li>
			</ol>
			
		</section>
        <section id="seccion1">
            <h2>Fi Unju</h2>
            <p>texto</p>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
            <table>
                <tr>
                    <th>Encabezado 1</th>
                    <th>Encabezado 2</th>
                </tr>
                <tr>
                    <td>Dato 1</td>
                    <td>Dato 2</td>
                </tr>
            </table>
        </section>

        <section id="seccion2">
            <h2>Sección 2</h2>
            <h3>Subsección 1</h3>
            <p>texto</p>
        </section>

        <section id="seccion3">
            <h2>Sección 3</h2>
            <h3>Subsección 1</h3>
            <p>texto</p>
        </section>
    </main>

    <aside>
        <h2>Contenido Adicional</h2>
        <a href="#">Enlace Adicional</a>
        <img src="imagen.jpg" alt="Imagen relacionada">
    </aside>

    <footer>
        <p>Contacto: </p>
        <nav>
            <ul>
                <li><a href="#">Mail: virtual@unju.edu.fi</a></li>
                <li><a href="#">Telefono: 0388 - 154708223</a></li>
                <li><a href="#">Web: www.unju.edu.ar</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>
