<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo Práctico 3</title>
	<link rel="stylesheet" href="../static/css/estilos.css">
</head>
<body>
    <header id="encabezado">
        <h1>Programacion Visual</h1>
        <nav>
            <ul>
                <li><a href="#seccion1">Unju</a></li>
                <li><a href="#seccion2">Sobre La Materia</a></li>
                <li><a href="#seccion3">Ventajas y Desventajas</a></li>
            </ul>
        </nav>
    </header>

    <main>
		<section class="contenido-principal">
			<h2>Docentes a Cargo</h2>
			<p>Materia de 2do año de la carrera Analista Programador Universitario</p>
			<ol>
				<li>Vega Ariel</li>
				<li>Apaza Carolina</li>
				<li>Sosa Gustavo</li>
				<li>Rodriguez Juan Carlos</li>
			</ol>
			
		</section>
        <section class="seccion">
            <h2>UNJU</h2>
            <p>Historia de la Universidad</p>
            <ul>
                <li>El período que se extiende entre 1972 y 1976 marca la creación y los primeros pasos en la construcción de nuestra casa de estudios, primero como Universidad Provincial (entre 1972 y 1973) y luego como Universidad Nacional, a partir de 1974.</li>
                <li>Desde la FHyCS se ha trabajado en diversas líneas de investigación, desarrolladas desde las distintas disciplinas que componen las Humanidades y Ciencias Sociales. Si bien la actividad se desplegó desde el momento de su creación, en torno a proyectos de investigación en arqueología, antropología, letras y medicina (vinculada a la carrera de antropología) a partir de 1988 la Facultad de Humanidades y Ciencias Sociales comenzó a estructurar la investigación a través de distintas Unidades.</li>
                <li>Durante la etapa que se abre con el siglo XXI, podemos destacar la ampliación de la oferta académica de grado con la creación de tres carreras, ya no como ciclos especiales sino de manera completa: Licenciatura en Filosofía, Licenciatura en Trabajo Social y el Profesorado y Licenciatura en Historia. Mientras que en el año 2010 se creó el Doctorado en Ciencias Sociales (Res CS Nº 0219/10).</li>
            </ul>
            <table>
                <tr>
                    <th>Facultad de Ciencias Agrarias   |   </th>
                    <th>Facultad de Humanidades y Ciencias Sociales   |   </th>
					<th>Facultad de Ciencias Económicas   |   </th>
					<th>Facultad de Ingeniería</th>
                </tr>
                <tr>
                    <td>10 Carreras</td>
					<td>18 Carreras</td>
					<td>4 Carreras</td>
					<td>14 Carreras</td>
                </tr>
            </table>
        </section>

        <section class="seccion">
            <h2>Sobre La Materia</h2>
            <h3>¿En Que consiste la programacion visual?</h3>
            <p>	En la programación visual, los elementos del lenguaje de programación están disponibles en forma de bloques diseñados de manera gráfica, por lo que también se la llama programación gráfica. La apariencia y el etiquetado de los módulos permite identificar qué tarea en el flujo del programa pueden resolver. Los pictogramas sirven para orientar al usuario. Así, no se necesitan estructuras muy complejas ni un alto grado de abstracción.</p>
			<p>Es fácil de aprender: no cuesta superar la curva de aprendizaje. Las ideas se pueden “escribir” directamente como si fueran el código del programa. Los símbolos claros facilitan la comprensión. Como no hay sintaxis, no es posible cometer errores tipográficos. Esto ayuda a los programadores a entender los conceptos básicos de los lenguajes de programación.</p>
		    <p>Parte de la programación gráfica está vinculada a campos de aplicación especiales o a ciertos sistemas, hardware o dispositivos finales. En general, no es posible crear elementos individuales o insertar comentarios para otros participantes en el proyecto. Esto hace difícil mantener una visión general, incluso con programas de complejidad reducida. Además, los proyectos realizados en programación visual solo son escalables en medida limitada, lo que dificulta su adaptación a proyectos grandes o de rápido crecimiento. La ventaja de la programación exploratoria puede convertirse rápidamente en un inconveniente en forma de código no estructurado en los proyectos más grandes: estos programas son difíciles de mantener y extender.</p>
			 </section>

		<section class="seccion">
            <h2>Ventajas y Desventajas</h2>
            <h3>¿Cuáles son las ventajas e inconvenientes de la programación visual?</h3>
            <p>La programación visual rompe las barreras técnicas y profesionales que podrían impedir el acceso a la programación, permitiendo que los niños aprendan a programar jugando. Los programadores pueden centrarse en los procesos lógicos de su programa sin distracciones. De este modo, se obtienen procesos rápidamente aplicables que dan la motivación para emprender otros proyectos más grandes.</p>
        </section>
    </main>

    <aside class="aside">
        <h2>Contenido Adicional</h2>
        
        <img src="../static/images/logounju.jpg" alt="Escudo de la Universidad"></br>
		<a href="https://www.unju.edu.ar/">Sitio Web de la Universidad</a>
    </aside>

    <footer id="pie">
        <p>Contacto:</p>
        <nav>
            <ul>
                <li><a>Mail: virtual@unju.edu.fi</a></li>
                <li><a>Telefono: 0388 - 154708223</a></li>
                <li><a>Web: www.unju.edu.ar</a></li>
				<li><a href="https://www.facebook.com/">Facebook</a></li>
				<li><a href="https://www.x.com/">Twitter</a></li>
				<li><a href="https://www.instagram.com/">Instagram</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>
